/* --------------------font--------------------  */
body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500; 
  font-size: 16px;  
  line-height: 1.6; 
  margin: 0;
  padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
  }
  
  .container {
    display: flex;
    width: 100%; 
    height: 100vh; 
    background-color: #fff;
    overflow: hidden;
  }
  
  /* Left Section */
  .left-section {
    flex: 1;
    /* background-color: #f9f9f9; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-section .illustration {
    width: 100%;
    margin-bottom: 60px;
    max-width: 1200px;
    margin-left: 110px;
  }
  
  /* Right Section */
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  .logo img {
    width: 35px;
    height: 35px;
  }

  .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin-right: 50px;
  }
  
  .right-section .content {
    width: 100%;
    max-width: 402px;
    margin: auto;
  }
  
  .right-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .right-section p {
    
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666;
  }
  
  .right-section form {
    display: flex;
    flex-direction: column;
  }
  
  .right-section label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .right-section input {
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .right-section .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .right-section .options input {
    width: 20px;
    height: 15px;
  }
  
  .right-section .options a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 40px;
  }
  
  .right-section .login-btn {
    background-color: #4c6ef5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 2px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .right-section .google-login {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .right-section .google-login img {
    width: 20px;
    margin-right: 10px;
  }
  
  .right-section .signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .right-section .signup a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Media Query for Mobile */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
    }
  
    .left-section {
      display: none; 
    }
  
    .right-section {
      width: 100%; 
      height: 100vh; 
    }
  
    .right-section .content {
      max-width: 100%; 
    }
    .logo {
        text-align: center;
        justify-content: center;
        margin-bottom: 20px ;
        margin-top: 15px ;
    }
  }
  