.primary{

    background-color:#1f5abf ;
}
.text-p{
    color: #1f5abf;
}

.button2 {
    width:16%;
    height: 50px;
    font-size: large;
    background-color: #1f5abf; 
    color: white; 
    border: 2px solid #1f5abf;
    ;
  }
.button3 {
    width:12%;
    height: 50px;
    font-size: large;
    background-color: #1f5abf; 
    color: white; 
    border: 2px solid #1f5abf;
    ;
  }
  
  /* .button2:hover {
    background-color: #1f5abf;
    color: white;
  } */
.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }

.intro{
    background-image: url(../img/Group\ 1126.svg);
    background-repeat: no-repeat;
    background-position: 650px;
    /* background-size: cover; */
    background-clip: border-box;
}
