*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font  */
.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
/* navbar */
ul , li ,a {
  font-size: 22px;
  gap: 9px;

}
 /* Home  */
 
.serachBox {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.intro{
  
    background: url(../img/Group\ 1126.svg) 640px no-repeat border-box ;
}
